:root{
--thor-1:#8D0E27;
--thor-2:#AD6B66;
--thor-3:#4E6793;
--thor-4:#616F35;
--thor-5:#645183;
--thor-6:#469C83;
--thor-7:#C24B1E;
--thor-8:#242C96;
--thor-9:#CB274F;
--thor-10:#431A51;
--thor-11:#9DC025;
--thor-12:#DC8A18;
--thor-13:#0D0465;
--thor-14:#3A992F;
--thor-15:#9A0F2B;
--thor-16:#EDCD0F;
--thor-17:#C52B88;
--thor-18:#1F7F9C;
--sjcream: #EBEBEB;
--anx-black:#010802;
}

body{
    background-color: var(--anx-black);
}
h1 {
  background-color: green;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  background-color: var(--anx-black);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fatty{
  background-color: var(--anx-black);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer{
  background-color: var(--anx-black);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}
.coat{
    background-color: var(--anx-black);
}
